body,
html {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 60vh;
  width: 35vw;
  margin: 0 auto;
}

.chat-message {
  padding: 10px;
}

.user-message {
  background-color: #0084ff;
  color: white;
  border-radius: 10px 10px 0 10px;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 12px;
  max-width: max-content;
  word-wrap: break-word;
}

.bot-message {
  background-color: #e9e9e9;
  color: black;
  border-radius: 10px 10px 10px 0;
  margin-right: 20px;
  margin-left: auto;
  max-width: max-content;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.chatbot-header {
  background-color: #0084ff;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 12px;
}

.chatbot-header h1 {
  display: flex;
  margin: 0;
  font-size: 40px;
  justify-content: center;
}

.chatbot-body {
  /* overflow-y: scroll; */
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.chatbot-footer {
  margin-top: auto;
}

#chatbot-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

#chatbot-input {
  flex: 7;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #0084ff;
  margin-right: 5px;
}

#chatbot-submit {
  flex: 3;
  background-color: #0084ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
